<div class=page>
    <h1>自動顔検出&モザイク処理</h1>
    <p>処理したい画像をアップロードしてください</p>
    <p>※ファイル形式はjpeg、pngのみ対応しています</p>
    <p>※横向きの写真はうまく検出できない可能性が高いです</p>
    <form  method="POST" enctype="multipart/form-data" action="{{url_for('upload')}}">
      <input type="file" name="img" accept="image/jpeg, image/png" >
      <button type="submit" >送信する</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %} 
    <p><img src='static/image/result.png'></p>
  </div>